In [1]:
import numpy as np
import netCDF4 as nc
import pandas as pd
import numpy.ma as ma

In [2]:
import matplotlib as mpl
import matplotlib.pyplot as plt

In [3]:
import xarray as xar

D:\01Setup\ANACONDA\lib\site-packages\dask\config.py:168: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  data = yaml.load(f.read()) or {}
D:\01Setup\ANACONDA\lib\site-packages\distributed\config.py:20: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  defaults = yaml.load(f)

In [4]:
file_path='./data/sanjioil.nc'

In [5]:
ds=nc.Dataset(file_path)

In [6]:
ds_xr=xar.open_dataset(file_path)

In [11]:
ds_xr.isel(time=30)['y_wind']

<xarray.DataArray 'y_wind' (trajectory: 2958)>
array([9.969210e+36, 1.047276e+01, 9.969210e+36, ..., 9.969210e+36,
       9.969210e+36, 9.969210e+36], dtype=float32)
Coordinates:
  * trajectory  (trajectory) int32 1 2 3 4 5 6 ... 2953 2954 2955 2956 2957 2958
    time        datetime64[ns] 2018-01-16T04:20:00
    lon         (trajectory) float32 ...
    lat         (trajectory) float32 ...

In [23]:
ds=ds_xr.sel(time='2018-01-17T19:20:00.000000000')['status']

In [24]:
ds.where(ds>=0).where(ds<1).to_dataframe().dropna(how='any')

                          time         lon        lat  status
trajectory
2          2018-01-17 19:20:00  125.899773  28.480537     0.0
4          2018-01-17 19:20:00  126.031517  28.558193     0.0
5          2018-01-17 19:20:00  125.923546  28.676928     0.0
10         2018-01-17 19:20:00  126.115616  28.483524     0.0
12         2018-01-17 19:20:00  125.823982  28.669727     0.0
...                        ...         ...        ...     ...
2852       2018-01-17 19:20:00  125.921471  28.369400     0.0
2853       2018-01-17 19:20:00  125.921463  28.369284     0.0
2854       2018-01-17 19:20:00  125.921516  28.369303     0.0
2855       2018-01-17 19:20:00  125.921463  28.369301     0.0
2856       2018-01-17 19:20:00  125.921425  28.369318     0.0

[1954 rows x 4 columns]