In [5]:
import numpy as np
import netCDF4 as nc
import pandas as pd
import numpy.ma as ma
import matplotlib as mpl
import matplotlib.pyplot as plt
import xarray as xar

In [6]:
file_path=r'D:\01proj\SearchRescueSys\data\download\ecs_new_current_20200407.nc'

In [7]:
ds_xr=xar.open_dataset(file_path)
ds_xr

<xarray.Dataset>
Dimensions:  (lat: 565, lon: 564, time: 157)
Coordinates:
  * lon      (lon) float64 114.2 114.3 114.3 114.3 ... 132.9 132.9 133.0 133.0
  * lat      (lat) float64 22.2 22.23 22.27 22.3 22.33 ... 40.9 40.93 40.97 41.0
  * time     (time) datetime64[ns] 2020-04-06T12:00:00 ... 2020-04-13
Data variables:
    u        (time, lat, lon) float32 ...
    v        (time, lat, lon) float32 ...

In [8]:
ds_xr.load()

<xarray.Dataset>
Dimensions:  (lat: 565, lon: 564, time: 157)
Coordinates:
  * lon      (lon) float64 114.2 114.3 114.3 114.3 ... 132.9 132.9 133.0 133.0
  * lat      (lat) float64 22.2 22.23 22.27 22.3 22.33 ... 40.9 40.93 40.97 41.0
  * time     (time) datetime64[ns] 2020-04-06T12:00:00 ... 2020-04-13
Data variables:
    u        (time, lat, lon) float32 nan nan ... 0.14572144 0.14572144
    v        (time, lat, lon) float32 nan nan ... -0.23032272 -0.24182257

In [9]:
ds_xr.attrs

{}

In [10]:
ds_xr.dims

Frozen(SortedKeysDict({'lon': 564, 'lat': 565, 'time': 157}))

In [7]:
ds_xr.values

<bound method Mapping.values of <xarray.Dataset>
Dimensions:  (lat: 565, lon: 564, time: 157)
Coordinates:
  * lon      (lon) float64 114.2 114.3 114.3 114.3 ... 132.9 132.9 133.0 133.0
  * lat      (lat) float64 22.2 22.23 22.27 22.3 22.33 ... 40.9 40.93 40.97 41.0
  * time     (time) datetime64[ns] 2020-04-06T12:00:00 ... 2020-04-13
Data variables:
    u        (time, lat, lon) float32 nan nan ... 0.14572144 0.14572144
    v        (time, lat, lon) float32 nan nan ... -0.23032272 -0.24182257>

## 使用 netcdf4 操作nc(完成修改操作)

In [11]:
ds=nc.Dataset(file_path,'r+')

In [12]:
# 未经处理的 流场数据
ds

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF3_CLASSIC data model, file format NETCDF3):
    dimensions(sizes): one(1), lon(564), lat(565), time(157), DateStrLen(19)
    variables(dimensions): float64 lon(lon), float64 lat(lat), float64 time(time), float32 u(time,lat,lon), float32 v(time,lat,lon)
    groups:

### 2-1 原始的流场数据

In [13]:
ds.dimensions

{'one': <class 'netCDF4._netCDF4.Dimension'>: name = 'one', size = 1,
 'lon': <class 'netCDF4._netCDF4.Dimension'>: name = 'lon', size = 564,
 'lat': <class 'netCDF4._netCDF4.Dimension'>: name = 'lat', size = 565,
 'time': <class 'netCDF4._netCDF4.Dimension'> (unlimited): name = 'time', size = 157,
 'DateStrLen': <class 'netCDF4._netCDF4.Dimension'>: name = 'DateStrLen', size = 19}

尝试获取 values

In [14]:
ds.variables

{'lon': <class 'netCDF4._netCDF4.Variable'>
 float64 lon(lon)
     long_name: longitude
     units: degree_east
 unlimited dimensions:
 current shape = (564,)
 filling on, default _FillValue of 9.969209968386869e+36 used,
 'lat': <class 'netCDF4._netCDF4.Variable'>
 float64 lat(lat)
     long_name: latitude
     units: degree_north
 unlimited dimensions:
 current shape = (565,)
 filling on, default _FillValue of 9.969209968386869e+36 used,
 'time': <class 'netCDF4._netCDF4.Variable'>
 float64 time(time)
     long_name: time since initialization
     units: minutes since 2000-01-01 00:00:00
     calendar: gregorian
     field: time
 unlimited dimensions: time
 current shape = (157,)
 filling on, default _FillValue of 9.969209968386869e+36 used,
 'u': <class 'netCDF4._netCDF4.Variable'>
 float32 u(time, lat, lon)
     long_name: u velocity speed
     units: meter second-1
     time: time
     coordinates: ocean_time lon lat
     field: u-velocity, scalar, series
     _FillValue: 1e+37
 unlimited dimensions: time
 current shape = (157, 565, 564)
 filling on,
 'v': <class 'netCDF4._netCDF4.Variable'>
 float32 v(time, lat, lon)
     long_name: Northward Water Velocity
     units: meter second-1
     time: time
     coordinates: time lon lat
     field: v-velocity, scalar, series
     _FillValue: 1e+37
     standard_name: y_sea_water_velocity
 unlimited dimensions: time
 current shape = (157, 565, 564)
 filling on}

ds.variables -> u/v

In [15]:
ds.variables['v']

<class 'netCDF4._netCDF4.Variable'>
float32 v(time, lat, lon)
    long_name: Northward Water Velocity
    units: meter second-1
    time: time
    coordinates: time lon lat
    field: v-velocity, scalar, series
    _FillValue: 1e+37
    standard_name: y_sea_water_velocity
unlimited dimensions: time
current shape = (157, 565, 564)
filling on

In [16]:
ds.variables['v'].long_name

'Northward Water Velocity'

现在遇见的问题是 netcdf是只读的  
[支持写入操作,参考](https://github.com/Unidata/netcdf4-python/issues/109)

In [27]:
ds.variables['v'].long_name='Northward Water Velocity'

In [28]:
ds.variables['v'].long_name

'Northward Water Velocity'

查看一下 **standard_name**

In [30]:
ds.variables['v'].standard_name='y_sea_water_velocity'

In [31]:
ds.variables['v'].standard_name

'y_sea_water_velocity'

In [32]:
ds.variables

{'lon': <class 'netCDF4._netCDF4.Variable'>
 float64 lon(lon)
     long_name: longitude
     units: degree_east
 unlimited dimensions:
 current shape = (564,)
 filling on, default _FillValue of 9.969209968386869e+36 used,
 'lat': <class 'netCDF4._netCDF4.Variable'>
 float64 lat(lat)
     long_name: latitude
     units: degree_north
 unlimited dimensions:
 current shape = (565,)
 filling on, default _FillValue of 9.969209968386869e+36 used,
 'time': <class 'netCDF4._netCDF4.Variable'>
 float64 time(time)
     long_name: time since initialization
     units: minutes since 2000-01-01 00:00:00
     calendar: gregorian
     field: time
 unlimited dimensions: time
 current shape = (157,)
 filling on, default _FillValue of 9.969209968386869e+36 used,
 'u': <class 'netCDF4._netCDF4.Variable'>
 float32 u(time, lat, lon)
     long_name: u velocity speed
     units: meter second-1
     time: time
     coordinates: ocean_time lon lat
     field: u-velocity, scalar, series
     _FillValue: 1e+37
 unlimited dimensions: time
 current shape = (157, 565, 564)
 filling on,
 'v': <class 'netCDF4._netCDF4.Variable'>
 float32 v(time, lat, lon)
     long_name: Northward Water Velocity
     units: meter second-1
     time: time
     coordinates: time lon lat
     field: v-velocity, scalar, series
     _FillValue: 1e+37
     standard_name: y_sea_water_velocity
 unlimited dimensions: time
 current shape = (157, 565, 564)
 filling on}

### 2-2 处理后的流场数据

In [12]:
# 经过处理后的流场数据
file_name_ecs_cur=r'D:\03data\search\waterwind\ecs_curr_20160722_opdr.nc'

In [13]:
ds_convert=nc.Dataset(file_name_ecs_cur)
ds_convert

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF3_CLASSIC data model, file format NETCDF3):
    dimensions(sizes): lon(564), lat(565), time(145), z(1)
    variables(dimensions): float32 lon(lon), float32 lat(lat), float32 time(time), float32 u(time,z,lat,lon), float32 v(time,z,lat,lon)
    groups:

In [15]:
ds_convert.dimensions['']

{'lon': <class 'netCDF4._netCDF4.Dimension'>: name = 'lon', size = 564,
 'lat': <class 'netCDF4._netCDF4.Dimension'>: name = 'lat', size = 565,
 'time': <class 'netCDF4._netCDF4.Dimension'> (unlimited): name = 'time', size = 145,
 'z': <class 'netCDF4._netCDF4.Dimension'>: name = 'z', size = 1}